USE [Pro_Kabaddi_League_Database]
GO
/****** Object:  Table [dbo].[MATCHES]    Script Date: 12/2/2024 9:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATCHES](
	[MATCH_ID] [varchar](30) NOT NULL,
	[MATCH_DATE] [date] NULL,
	[SCORE_TEAM_A] [int] NULL,
	[SCORE_TEAM_B] [int] NULL,
	[STATUS] [varchar](20) NULL,
	[VENUE_ID] [varchar](50) NULL,
	[SEASON_ID] [varchar](20) NULL,
	[TEAM_A_ID] [varchar](20) NULL,
	[TEAM_B_ID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([SEASON_ID])
REFERENCES [dbo].[SEASON] ([SEASON_ID])
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([TEAM_A_ID])
REFERENCES [dbo].[TEAM] ([Team_ID])
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([TEAM_B_ID])
REFERENCES [dbo].[TEAM] ([Team_ID])
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([VENUE_ID])
REFERENCES [dbo].[Venues] ([VENUE_ID])
GO
