USE [Pro_Kabaddi_League_Database]
GO
/****** Object:  Table [dbo].[SPONSORSHIP]    Script Date: 12/2/2024 9:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPONSORSHIP](
	[SPONSOR_ID] [varchar](30) NOT NULL,
	[SPONSOR_NAME] [varchar](50) NULL,
	[CONTACT_NUMBER] [varchar](15) NULL,
	[SPONSOR_EMAIL] [varchar](50) NULL,
	[SPONSORSHIP_AMOUNT] [decimal](10, 2) NULL,
	[CONTRACT_START_DATE] [date] NULL,
	[CONTRACT_END_DATE] [date] NULL,
	[TEAM_ID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SPONSOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SPONSORSHIP]  WITH CHECK ADD FOREIGN KEY([TEAM_ID])
REFERENCES [dbo].[TEAM] ([Team_ID])
GO
