USE [Pro_Kabaddi_League_Database]
GO
/****** Object:  Table [dbo].[PLAYER]    Script Date: 12/2/2024 9:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYER](
	[PLAYER_ID] [varchar](50) NOT NULL,
	[PLAYER_NAME] [varchar](30) NULL,
	[POSITION] [varchar](10) NULL,
	[PLAYER_DOB] [date] NULL,
	[NATIONALITY] [varchar](30) NULL,
	[HEIGHT] [decimal](5, 2) NULL,
	[WEIGHT] [decimal](5, 2) NULL,
	[TEAM_ID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PLAYER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PLAYER]  WITH CHECK ADD FOREIGN KEY([TEAM_ID])
REFERENCES [dbo].[TEAM] ([Team_ID])
GO
