USE [Pro_Kabaddi_League_Database]
GO
/****** Object:  Table [dbo].[Venues]    Script Date: 12/2/2024 9:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venues](
	[VENUE_ID] [varchar](50) NOT NULL,
	[VENUE_NAME] [varchar](50) NULL,
	[LOCATION] [varchar](50) NULL,
	[CAPACITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VENUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
