USE [Pro_Kabaddi_League_Database]
GO
/****** Object:  Table [dbo].[SEASON]    Script Date: 12/2/2024 9:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEASON](
	[SEASON_ID] [varchar](20) NOT NULL,
	[SEASON_YEAR] [int] NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[TOTAL_MATCHES] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SEASON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
