USE [Pro_Kabaddi_League_Database]
GO
/****** Object:  Table [dbo].[Team_Fan]    Script Date: 12/2/2024 9:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team_Fan](
	[Fan_ID] [int] NOT NULL,
	[Team_ID] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Fan_ID] ASC,
	[Team_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Team_Fan]  WITH CHECK ADD FOREIGN KEY([Fan_ID])
REFERENCES [dbo].[FANS] ([Fan_ID])
GO
ALTER TABLE [dbo].[Team_Fan]  WITH CHECK ADD FOREIGN KEY([Team_ID])
REFERENCES [dbo].[TEAM] ([Team_ID])
GO
